<!DOCTYPE html>
<html>

<head>
    <title>404</title>

    <h1>404 - Page not found</h1>
    <h1><a href="https://${domain_name}">Return to ${domain_name} homepage
        </a>
    </h1>
</head>

</html>